<!DOCTYPE html>
<html>
  <head>
    <title>Evernote-API</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="row-fluid">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <span class="brand"><a href="/">Evernote-API</a></span>
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/users/list_images">Images</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <div id="content">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
